<h1>Login!</h1>
<form id="login-form">
    <input type="text" id="login-email" placeholder="Email or Username">
    <input type="password" name="" id="login-password" placeholder="Password">
    <button>Login!</button>
</form>


<script src="/js/login.js"></script>